* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}
img {
  vertical-align: middle;
  border-style: none;
 
}
.img1{
  width: 35%; margin-top: -14%;
}
.img2{
  width: 54%;
  margin-top: -23%;
}
.img3{
  width: 32%;
    margin-top: -19%;
}
.location1{
  padding: 0px;
  color: #FFF;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.app {
  background-image: url('./assets/extreme-cold.jpg');
  background-size: cover;
  background-position: center;
  transition: 0.4 ease;
}
.app.rain {
  background-image: url('./assets/raining.jpg');
  background-position: center;
}
.app.warm {
  background-image: url('./assets/sun.jpg');
  background-position: center;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  padding-left: 680px;
}

.search-box .search-bar {
  display: block;
  width: 50%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color:#f8f9fa;
  border-radius: 0px 0px 16px 16px;
  /* margin-top: -25px; */

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  background-image: url('./search-icon');
    background-position: 10px 10px;
    background-repeat: no-repeat;
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

 .location {
  padding: 40px;
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

 .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);

}

.weather-box {
  text-align: center;
}

 .temp {
  position: relative;
  display: inline-block;
  margin: 8px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather {
  padding: 40px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

/* input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./search-icon');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
  width: calc(100% - 16px);
} */


input[type=submit] {
  background-color: var(--orange);
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  display: table-cell;
  vertical-align: top;
  height: 46px;
  -webkit-appearance: none;
}

input[type=submit]:hover {
  background-color: #3898db;
}

form {
  display: table;
  margin: 0 auto;
}

label {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.card {
  text-align: center;
  box-shadow: 0 8px 12px -1px #a7e4ee;
  margin-bottom: 30px;
  transition: box-shadow .2s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(146, 122, 189);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 1.25rem;
}
.he1 {
  height: 200px!important;
}

